<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="stash" class="net.logstash.logback.appender.LogstashTcpSocketAppender">
		<!--logstash的端口-->
      <destination>120.77.253.88:3456</destination>
      <!-- encoder is required -->
      <encoder class="net.logstash.logback.encoder.LogstashEncoder" />
  	</appender>


	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<!-- encoder 默认配置为PatternLayoutEncoder -->
		<encoder>
			<!--日志格式-->
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>

	<!--总配置-->
	<root level="DEBUG">
		<appender-ref ref="STDOUT" />
		<appender-ref ref="stash" />
	</root>
</configuration>